<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicons -->
    {% include favicon.html  %}

    <!-- Bootstrap CSS -->
    {% include bootstrap.html %}

    <!-- Custom fonts for this template -->
    {% include fonts.html %}

    <!-- Custom styles for this template -->
    {% include custom_css.html %}
    {% include maths_and_code.html %}

    <title>{{ site.title }}</title>
  </head>
  <body>
    <!-- Navigation -->
    {% include navbar.html %}

    <!-- Main Content -->
    {{ content }}

    <!-- Footer -->
    {% include footer.html %}

    <!-- Optional JavaScript -->
    {% include body_javascript.html %}

  </body>
</html>
