---
layout: default
---
<!-- Page Header -->
<header class="masthead" style="background-image: url('/assets/images/honeycomb.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Data Science Blog</h1>
          <h2>My random ramblings</h2>
          <span class="subheading">Rob Davidson</span>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
        {% for post in site.posts %}
      <div class="post-preview">
        <a href="{{ post.url }}">
          <h2 class="post-title">
              {{ post.title }}
          </h2>
          <h3 class="post-subtitle">
              {{ post.subtitle }}
          </h3>
        </a>
        <p class="post-meta">Posted {{ post.date | date_to_string }}</p>
      </div>
      <hr>
      {% endfor %}
      <hr>
    </div>
  </div>
</div>
